<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div id="start" class="main-wrapper">
    <!-- HEADER -->
    <header id="header" class="header">
        <div class="container">
            <div class="header-content">
                <a href="\" class="logo">&lt;WEB <span class="logo__text">developer</span>/&gt;</a>

                <!--<button class="hamburger-menu">
                    <span></span>
                </button>-->

                <nav class="navigation-wrapper">
                    <ul class="navigation">
                        <li class="navigation__item"><a href="#welcome" class="navigation__link">About</a></li>
                        <li class="navigation__item"><a href="#portfolio" class="navigation__link">Works</a></li>
                        <li class="navigation__item"><a href="#footer" class="navigation__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main id="content" class="content">
        <section id="welcome" class="section section-welcome">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/welcome-bg.jpg') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>
            <div class="container">
                <div class="welcome">
                    <p class="welcome__title">Hello! My name is <br>Dmitry Turetsky</p>

                    <div class="welcome__text">I am a web developer with over 9 years of experience in creating responsive and interactive websites using HTML, CSS, and
                        JavaScript. I have worked both independently and as part of a team, delivering projects for various companies and freelance clients. My goal is to
                        build solutions that combine modern technologies with user-friendliness, paying attention to every stage of development—from planning to
                        implementation.
                    </div>

                    <ul class="welcome__list">
                        <li><a href="./CV-EN.pdf" class="welcome__button" download>Download CV(EN)</a></li>
                        <li><a href="./CV-RU.pdf" class="welcome__button" download>Download CV(RU)</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section section-skills">
            <div class="container">
                <p class="section__title">My skills</p>

                <div class="skill">
                    <div class="skill__card">
                        <p class="skill__name">HTML</p>
                        <p class="skill__text">HTML is the foundation of any web page, creating its structure and layout. It defines elements like headers, paragraphs, images, and
                            links.</p>
                        <ul class="skill__list">
                            <li>HTML5</li>
                            <li>Adaptive/Responsive</li>
                            <li>Cross-browser compatibility</li>
                        </ul>
                    </div>

                    <div class="skill__card">
                        <p class="skill__name">CSS</p>
                        <p class="skill__text">CSS styles HTML elements, making the page visually appealing and easy to read. It controls colors, fonts, animations, and the
                            positioning of elements.</p>
                        <ul class="skill__list">
                            <li>CSS3</li>
                            <li>Flex/Grid</li>
                            <li>SCSS/LESS</li>
                        </ul>
                    </div>

                    <div class="skill__card">
                        <p class="skill__name">JavaScript</p>
                        <p class="skill__text">JavaScript adds interactivity to web pages, making them dynamic and engaging. It enables animations, user interactions, and data
                            handling.</p>
                        <ul class="skill__list">
                            <li>JavaScript/ES5/ES6+</li>
                            <li>jQuery</li>
                            <li>WebPack</li>
                        </ul>
                    </div>

                    <div class="skill__card">
                        <p class="skill__name">Other skills</p>
                        <ul class="skill__list">
                            <li>Bootstrap</li>
                            <li>BEM</li>
                            <li>Figma/AdobeXD/Zeplin/Photoshop</li>
                            <li>Telegram Node API</li>
                            <li>SQLite</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="section section-portfolio">
            <div class="container">
                <p class="section__title">My latest works</p>

                <div class="portfolio">
                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/lady-prof/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Lady Prof</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_01.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/28days/index.html" target="_blank">
                            <p class="portfolio__card-name">28Days</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_02.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/aerks/index.html" target="_blank">
                            <p class="portfolio__card-name">Aersk LTD</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_03.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/seminar/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Landing page для семинара</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_04.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/aerks/index.html" target="_blank">
                            <p class="portfolio__card-name">Slot77</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_05.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/bonapart/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Bonapart</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_06.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/nikolino/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">NikolinoPark</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_07.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/art-mart/index.html" target="_blank">
                            <p class="portfolio__card-name">Art-Mart</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_08.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/hyperC/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">HyperC</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_09.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/abu/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">ABU</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_10.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/risorio/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Risorio</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_11.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/on-clinic/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">On Clinic</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_12.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/space-cabin/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Space Cabin</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_13.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/vizinform/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">VIZINFORM</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_14.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/schemer/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Schemer</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_15.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/art-time-web/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Art-time-web</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_16.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>

                    <div class="portfolio__card">
                        <a href="https://archangel2903.github.io/fortune-wheel/dist/index.html" target="_blank">
                            <p class="portfolio__card-name">Mystiwin Landing</p>

                            <picture class="portfolio__card-image">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/job_17.png') %>" alt="" title="">
                            </picture>
                        </a>

                        <p class="portfolio__card-tech">
                            <span>HTML</span>
                            <span>CSS</span>
                            <span>JS</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-content__box">
                    <a href="#start" class="logo">&lt;WEB <span class="logo__text">developer</span>/&gt;</span></a>
                </div>

                <!--<div class="footer-content__box">
                    <ul class="footer-navigation">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Works</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>-->

                <div class="footer-content__box">
                    <ul class="footer-contacts">
                        <li>
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-phone"></use>
                            </svg>
                            <a href="tel:+380507263317">+380507263317</a>
                        </li>
                        <li>
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-at"></use>
                            </svg>
                            <a href="mailto:archangel2903@gmail.com">archangel2903@gmail.com</a>
                        </li>
                    </ul>

                    <ul class="social-list">
                        <li><a href="https://t.me/DZM_Human" target="_blank">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-telegram"></use>
                            </svg>
                        </a></li>
                        <li><a href="https://www.instagram.com/dzen_maniac/" target="_blank">
                            <svg>
                                <use xlink:href="./img/spritemap.svg#sprite-instagram"></use>
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </div>

            <p class="copyright">&copy; <span id="current_year">2000</span> Dmitriy Tureckiy. All rights reserved.</p>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>
<!-- BODY END   -->
</body>
</html>